{
  "dataset" : "citeseer",
  "train_edges" : "../objects_citeseer/train_edges_citeseer.npy",
  "train_edges_false" : "../objects_citeseer/train_edges_false_citeseer.npy",
  "test_edges" : "../objects_citeseer/test_edges_citeseer.npy",
  "test_edges_false" : "../objects_citeseer/test_edges_false_citeseer.npy",
  "z_matrix" : "../objects_citeseer/Z_citeseer.npy",
  "a_matrix" : "../objects_citeseer/A_citeseer.npy",
  "c_matrix" : "../objects_citeseer/C_citeseer.npy",
  "results" : "../objects_citeseer/results_citeseer.txt",
  "epsilon" : 0.000002,
  "max_iter" : 25,
  "walk_len" : 100,
  "node_size" : 50,
  "embed_size" : 40
}
